mat-card {
  width: 250px;
  height: 400px; /* Altura uniforme */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

mat-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

mat-card-title,
mat-card-subtitle {
  margin-bottom: 0.5rem;
}

button {
  margin-top: auto;
}

button.mat-raised-button {
  background-color: #3b2f2f;
  color: white;
}

button.mat-raised-button:hover {
  background-color: #5c4033;
}