<style>
  body {
  background-color: #f5f5dc;
  color: #2e2e2e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

main {
  background-color: #f5f5dc;
  color: #2e2e2e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  min-height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: block; /* o flex con flex-grow */
}


</style>

<main class="main">


  <div class="product-grid">
    <nav style="display: flex; align-items: center; padding: 1rem; background: chocolate;">
      <h1>Catálogo de Pugs</h1>
      <button routerLink="/" style="cursor:pointer; margin-left: auto;">🏠 Inicio</button>
      <button routerLink="/carrito" style="cursor:pointer; margin-left: auto;">🛒 Ver Carrito</button>
    </nav>
    <router-outlet></router-outlet>
  </div>

</main>

